<main>
  <div class="container">
    <h1>Articolo in evidenza</h1>
    <div class="row">
      <div class="col-12">
        <h3>{{ articleArr[0].title }}</h3>
        <p>{{ articleArr[0].body }}</p>
        <a href="">
          {{ articleArr[0].tags }}
        </a>
      </div>
    </div>
    <h4>articoli consigliati</h4>
    <div class="row">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
  </div>
</main>
<a href=""></a>
